aniso8601
blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
Flask
Flask-RESTful
fonttools
idna
isodate
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pif
pillow
prettytable
pyparsing
python-dateutil
pytz
rdflib
requests
six
SPARQLWrapper
urllib3
wcwidth
Werkzeug
psutil
